<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.malladmin.mapper.user.AddressMapper">
    <resultMap id="BaseResultMap" type="com.cskaoyan.malladmin.bean.user.Address">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="province_id" jdbcType="INTEGER" property="provinceId" />
        <result column="city_id" jdbcType="INTEGER" property="cityId" />
        <result column="area_id" jdbcType="INTEGER" property="areaId" />

        <result column="address" jdbcType="VARCHAR" property="address" />
        <result column="mobile" jdbcType="VARCHAR" property="mobile" />

        <result column="is_default" jdbcType="TINYINT" property="isDefault" />
        <result column="deleted" jdbcType="TINYINT" property="deleted" />

        <result column="add_time" jdbcType="TIMESTAMP" javaType="java.util.Date" property="addTime" />
        <result column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" property="updateTime" />

    </resultMap>
    <sql id="base_sql">
        id,name,user_id,province_id,city_id,area_id,address,mobile,is_default,deleted,add_time,update_time
    </sql>
    <sql id="where_sql">
        where 1=1
        <if test="name!=null and name !=''">
            and name like #{name}
        </if>
        <if test="userid!=null and userid!=''">
            and user_id = #{userid}
        </if>
    </sql>

    <select id="selectAllAddress" resultMap="BaseResultMap">
      select
      <include refid="base_sql"/>
      from cskaoyan_mall_address
      <include refid="where_sql"/>
      order by #{sort} #{order}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="base_sql"/>
        from cskaoyan_mall_address
    </select>

    <select id="queryAddressCount" resultType="int">
        select count(id) from  cskaoyan_mall_address
        <include refid="where_sql"/>
    </select>


</mapper>