<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.mapper.schedule.CustomMapper">
    <resultMap id="BaseResultMap" type="com.erp.bean.schedule.Custom">
        <id column="id" jdbcType="INTEGER" property="user_id" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="gender" jdbcType="TINYINT" property="gender" />
        <result column="birthday" jdbcType="DATE" property="addTime" />
        <result column="last_login_time" jdbcType="DATETIME" property="lastLoginTime" />
        <result column="last_login_ip" jdbcType="VARCHAR" property="lastLoginIp" />
        <result column="user_level" jdbcType="TINYINT" property="userLevel" />
        <result column="nickname" jdbcType="INTEGER" property="nickName" />
        <result column="mobile" jdbcType="VARCHAR" property="mobile" />
        <result column="avatar" jdbcType="VARCHAR" property="avatar" />
        <result column="weixin_openid" jdbcType="VARCHAR" property="weiXinOpenId" />
        <result column="status" jdbcType="TINYINT" property="sessionKey" />
        <result column="add_time" jdbcType="DATETIME" property="status" />
        <result column="update_time" jdbcType="DATETIME" property="updateTime" />
        <result column="deleted" jdbcType="TINYINT" property="delete" />
    </resultMap>
    <select id="selectAllUser" resultMap="BaseResultMap">
      select * from cskaoyan_mall_user
    </select>
</mapper>