<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.malladmin.mapper.market.KeywordMapper">
    <select id="queryKeywordListCount" parameterType="com.cskaoyan.malladmin.bean.market.Keywords" resultType="Integer">
        select count(*) from cskaoyan_mall_keyword where deleted = false
        <if test="keyword != null">
            and keyword = #{keyword}
        </if>
        <if test="url != null">
            and url = #{url}
        </if>
    </select>
    <select id="queryKeywordList" parameterType="com.cskaoyan.malladmin.bean.market.Keywords" resultType="com.cskaoyan.malladmin.bean.market.Keywords">
        select id,keyword,url,is_hot as `isHot`,is_default as `isDefault`,sort_order as sortOrder,
        add_time as addTime,update_time as updateTime,deleted from cskaoyan_mall_keyword where deleted = false
        <if test="keyword != null">
            and keyword like #{keyword}
        </if>
        <if test="url != null">
            and url like #{url}
        </if>
    </select>
    <update id="deleteKeyword" parameterType="com.cskaoyan.malladmin.bean.market.Keywords">
         update cskaoyan_mall_keyword SET deleted = true , update_time =#{updateTime} where  id = #{id}
    </update>
    <update id="updateKeyword" parameterType="com.cskaoyan.malladmin.bean.market.Keywords">
        update cskaoyan_mall_keyword SET keyword = #{keyword} , `url` = #{url} , update_time =#{updateTime} , is_hot = #{isHot} , is_default = #{isDefault}
        where id = #{id}
    </update>
    <insert id="createKeyword" parameterType="com.cskaoyan.malladmin.bean.market.Keywords">
        insert into cskaoyan_mall_keyword (id,keyword,url,is_hot,is_default,sort_order,add_time,update_time,deleted)
        values (null,#{keyword},#{url},#{isHot},#{isDefault},0,#{addTime},#{updateTime},false)
    </insert>
</mapper>