<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.malladmin.mapper.market.OrderMapper">
    <select id="getOrderListCount" resultType="Integer">
        select count(*) from cskaoyan_mall_order where deleted = false
        <if test="userId != null">
            and  cast(user_id as char) like #{userId}
        </if>
        <if test="orderSn != null">
            and order_sn like #{orderSn}
        </if>
        <if test="statusList !=null">
            <foreach collection="statusList" item="status" open="and order_status in(" close=")" separator=",">
                #{status}
            </foreach>
        </if>
    </select>

    <select id="getOrderList" resultType="com.cskaoyan.malladmin.bean.market.Order">
        select id,user_id as userId,order_sn as orderSn,order_status as orderStatus,consignee,mobile,address,message,
        goods_price as goodsPrice,freight_price as freightPrice,coupon_price as couponPrice,integral_price as integralPrice,groupon_price as grouponPrice,
        order_price as orderPrice,actual_price as actualPrice,pay_id as payId,pay_time as payTime, ship_sn as shipSn,ship_channel as shipChannel,
        ship_time as shipTime , confirm_time as confirmTime,comments,end_time as endTime,add_time as addTime,update_time as updateTime,deleted from cskaoyan_mall_order where deleted = false
        <if test="userId != null">
            and cast(user_id as char) like #{userId}
        </if>
        <if test="orderSn != null">
            and order_sn like #{orderSn}
        </if>
        <if test="statusList !=null">
            <foreach collection="statusList" item="status" open="and order_status in(" close=")" separator=",">
                #{status}
            </foreach>
        </if>
    </select>
    <select id="getOrderDetail" resultType="com.cskaoyan.malladmin.bean.market.Order">
          select id,user_id as userId,order_sn as orderSn,order_status as orderStatus,consignee,mobile,address,message,
        goods_price as goodsPrice,freight_price as freightPrice,coupon_price as couponPrice,integral_price as integralPrice,groupon_price as grouponPrice,
        order_price as orderPrice,actual_price as actualPrice,pay_id as payId,pay_time as payTime, ship_sn as shipSn,ship_channel as shipChannel,
        ship_time as shipTime , confirm_time as confirmTime,comments,end_time as endTime,add_time as addTime,update_time as updateTime,deleted from cskaoyan_mall_order
        where id = #{id}

    </select>
  <select id="getOrderTotal" resultType="Integer">
    select count(*) from cskaoyan_mall_order where deleted = false
  </select>
</mapper>
