<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.malladmin.mapper.role.RoleMapper">
  <!--查询表单-->
  <!--查询表单-->
  <select id="queryList" resultMap="BaseResultMap">
    select id,name,`desc`,enabled,add_time,update_time,deleted from cskaoyan_mall_role
  </select>

  <!--外部表单-->
  <select id="queryOptions" resultType="com.cskaoyan.malladmin.bean.role.RoleOption">
    select id as value,name as label from  cskaoyan_mall_role
  </select>

  <!--根据姓名查询单个-->
  <select id="queryOneByName" resultMap="BaseResultMap">
    select * from cskaoyan_mall_role where name = #{name}
  </select>

  <!--插入角色-->
  <insert id="insertRole" parameterType="com.cskaoyan.malladmin.bean.role.Role">
    insert into cskaoyan_mall_role (id, name,`desc`,enabled, add_time, update_time,deleted)
    values (#{roleCreate.id,jdbcType=INTEGER}, #{roleCreate.name,jdbcType=VARCHAR}, #{roleCreate.desc,jdbcType=VARCHAR},
      #{roleCreate.enabled,jdbcType=BIT}, #{roleCreate.addTime,jdbcType=TIMESTAMP}, #{roleCreate.updateTime,jdbcType=TIMESTAMP},
      #{roleCreate.deleted,jdbcType=BIT})
  </insert>

  <!--根据姓名查询多个-->
  <select id="queryByName" resultMap="BaseResultMap">
    select * from cskaoyan_mall_role where name like #{name}
  </select>

  <!--更新角色-->
  <update id="updateRole" parameterType="com.cskaoyan.malladmin.bean.role.Role">
    update cskaoyan_mall_role set
    id = #{role.id},name = #{role.name},
    `desc` = #{role.desc},enabled = #{role.enabled},
    add_time = #{role.addTime},update_time = #{role.updateTime},
    deleted = #{role.deleted}
    where id = #{role.id}
  </update>

  <!--删除角色-->
  <delete id="deleteById">
    delete from cskaoyan_mall_role where id = #{id}
  </delete>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select * from cskaoyan_mall_role where id = #{id}
  </select>
  <!--对应resultMap-->
  <resultMap id="BaseResultMap" type="com.cskaoyan.malladmin.bean.role.Role">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="desc" jdbcType="VARCHAR" property="desc" />
    <result column="enabled" jdbcType="BIT" property="enabled" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
  </resultMap>
</mapper>
